html,body{
  overflow: hidden;
}
html, body,#root {
    height:100%;
    margin:0;
}

#root{
  display:flex;
  flex-direction: row;
  align-content: stretch;
}
#canvas{
  fill:none!important;
  stroke:none;
}
.app {
  width: 100%;
  flex:1;
  position:relative;
}

.fullScreenFlex {
    position:absolute;
    width:100%;
    height:100%;
}

.scrollable {
     overflow-y:auto;
   	-webkit-overflow-scrolling:touch;
}

.showFloor {
  display: block;
}

.hideFloor {
  display: none!important;
}
.controlGroup{

}

#interactiveSvg  [class*=landmarks-]{
  stroke: #fff;
  stroke-width: 2px;
}

.searchField{
  padding: 4%;
  margin: 5%;
  border: none;
  border: 3px solid #999;
  width: 79%;
  font-size: 26px;
}

.fullwindow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

.panel{
  overflow-y: scroll;

  position: absolute;
  height: 70%;
  top:10%;
  left:5%;
  width: 400px;
  /* background: #ac22f1; */
}
