html, body,#root {
    height:100%;
    margin:0;
}

#root{
  display:flex;
  flex-direction: row;
  align-content: stretch;
}

.app {
  flex:1;
  position:relative;
}

.fullScreenFlex {
    position:absolute;
    width:100%;
    height:100%;
}

.scrollable {
     overflow-y:auto;
   	-webkit-overflow-scrolling:touch;
}

.showFloor {
  display: block;
}

.hideFloor {
  display: none;
}
.controlGroup{

}

#interactiveSvg  [class*=landmarks-]{
  stroke: #fff;
  stroke-width: 2px;
}

.searchField{
  padding: 0;
  margin: 5%;
  border: none;
  border-bottom: 2px solid #999;
  width: 90%;
  font-size: 26px;
}
