html, body,#root {
  overflow: hidden;
    height:100%;
    margin:0;
}

#root{
  display:flex;
  flex-direction: row;
  align-content: stretch;
}

.app {
  width: 100%;
  flex:1;
  position:relative;
}

.fullScreenFlex {
    position:absolute;
    width:100%;
    height:100%;
}

.interactive{
}

.scrollable {
     overflow-y:auto;
   	-webkit-overflow-scrolling:touch;
}

.showFloor {
  opacity: 1;
}

.hideFloor {
  opacity: 0;
}

#interactiveSvg  [class*=landmarks-] *{
  stroke: #fff;
  stroke-width: 2px;
}

.fullwindow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

svg #canvas{
  fill:none!important;
  stroke:none;
}
svg .base *{
  fill:rgba(255,255,255,0.2)!important;
}

svg .wall * {
  fill:white;
}
